RESEND_API_KEY=
RESEND_FROM_AUTH=IMPULSE J Auth <auth@auth.impulse.ccwu.cc>
RESEND_FROM_NOTIFY=IMPULSE J Notify <notify@auth.impulse.ccwu.cc>
RESEND_FROM_SUPPORT=IMPULSE J Support <support@auth.impulse.ccwu.cc>
NEXT_PUBLIC_TAWK_PROPERTY_ID=
NEXT_PUBLIC_TAWK_WIDGET_ID=
BACKEND_SECRET=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STATE_TABLE=impulse_state
SUPABASE_STORAGE_BUCKET=impulse-assets
MAX_ASSET_BYTES=5242880
KV_REST_API_URL=
KV_REST_API_TOKEN=
